.userPagePostListItem {
    flex-basis: 32.334374%;
    min-width: 0;
    margin: 0.5%;

}

.userPagePostListItemContainer {
    position: relative;
}

.userPagePostListItemImgContainer{
    max-width: 320px;
    height:320px;
}
.userPagePostListItemImgContainer > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.userPagePostListItemContainerBackdrop {
    background-color: rgba(14, 14, 14, 0.4);
    width: 99%;
    height: 100%;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
}

.userPagePostListItemContainerBackdrop > span {
    display: flex;
    margin: 0 10px;
    color: white;
    font-weight: 700;
}

.userPagePostListItemContainer:hover .userPagePostListItemContainerBackdrop {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 800px) {
    .userPagePostListItemImgContainer{
        height: 250px;
    }
}

@media (max-width: 500px) {
    .userPagePostListItemImgContainer{
        height: 140px;
    }
}

