.header{
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgb(224,224,224);
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 3;
}

.headerContainer{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
}


.headerLogo > img{
    position: relative;
    top: 6px;
    margin-right: 10px;
    width: 110px;
}


.headerNavigationList{
    margin: 0;
    padding: 0;
    display: flex;
}

.activeHeaderTab > li > svg  {
    fill: rgb(73,178,247);
}

@media(max-width:520px )  {
    .header{
        padding-bottom: 5px;
        margin-bottom: 1px;
    }
    .headerContainer{
        flex-direction: column;
        justify-items: center;
        justify-content: center;
    }
    .headerNavigationBlock{
        display: none;
    }
    .searchBlock{
        display: none;
    }
}
