.footerContentList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footerContentListItem {
   margin: 10px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(136, 136, 136);
    cursor: pointer;
}
.footerContentListItem:hover{
    text-decoration: underline;
     color: rgb(71, 70, 70);
 }