.homePage {
    height: 100%;
    background-color: rgb(250, 250, 250);
}

.homePageContainer {
    min-height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.homePageContent {
    min-height: 100%;
    position: relative;
    display: flex;
    max-width: 100%
}

.userHistoryBlock {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    max-width: 650px;
    height: 110px;
}

.userHistoryList {
    height: 100%;
    list-style-type: none;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.userHistoryListItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85px;
    margin: 0 10px;
}

.userHistoryListItem > span {
    color: #95a6bb;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}


.mainSideHomePage {
    margin-right: 30px;
    max-width: 100%;
}

.sideBarHomePage {
    max-width: 410px;
    height: 100vh;
    padding: 20px 0;
    position: absolute;
    right: 0;
}

@media(max-width:980px){
    .sideBarHomePage{
        display: none;
    }
    .homePageContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainSideHomePage{
        margin: 0;
    }
}

    .test {
    position: sticky;
    top: 106px;

}

.sideBarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sideBarUser {

    display: flex;
    align-items: center;
}

.sideBarUserInfo {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.sideBarUserInfo > a {
    text-decoration: none;
    color: rgb(113, 113, 113);
    font-weight: 600;
    font-size: 14px;
}

.sideBarUserInfo > a:hover {
    text-decoration: underline;
}

.sideBarUserInfo > span {
    color: rgb(150, 150, 150);
    font-size: 14px;
}

.sideBarLink > a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #0095f6;
}


.sideBarLink > a:hover {
    color: #a0aaae;
}

.recommendationTitle {
    display: flex;
    justify-content: space-between;
}

.recommendationTitle > span {
    font-size: 14px;
    font-weight: 700;
    color: rgb(143, 143, 143);
}

.recommendationTitle > a {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(91, 91, 91);
}

.recommendationList {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;

}

.recommendationListItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.postHeaderUserInfo {
    display: flex;
    align-items: center;
}


/*POST*/
.postList {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

.postListItem{
    margin-bottom: 40px;
}

.post {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    max-width: 650px;
}

.postHeader {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postHeaderUserInfo > a {
    margin-left: 15px;
    text-decoration: none;
    color: rgb(113, 113, 113);
    font-weight: 600;
    font-size: 14px;
}

.postHeaderUserInfo > a:hover {
    text-decoration: underline;
}


.postMedia > img {
    width: 100%;
    height: 100%;
}


.postFooterButtons {
    display: flex;
    justify-content: space-between;

}

.postFooterButtonList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.postCountView {
    font-weight: 600;
    font-size: 16px;
    margin-left: 13px;
    color: rgb(108, 108, 108);
}


.postDescription {
    padding: 0;
    margin-left: 15px;

}

.postDescription > a {

    text-decoration: none;
    color: rgb(113, 113, 113);
    font-weight: 600;
    font-size: 14px;
}

.postDescription > a:hover {
    text-decoration: underline;
}

.postCommentBlock{
    margin-top: 10px;
    height: 50px;
    border-top: 1px solid rgb(224, 224, 224);
}

.postCommentBlock > form > input{
    padding: 16px;
    width: 77%;
    border: none;
    outline: none;
}

.postCommentBlock > form > button{
    border: none;
    outline: none;
    background-color: rgb(255,255,255);
    color: rgb(61,174,247);
    font-weight: 700;
    cursor: pointer;
}

.postCommentBlock > form > button:hover{
    color: rgb(155, 204, 243);
}

.postCommentBlock > form > button:disabled{
    color: rgb(165, 165, 245);
    cursor: inherit;
}





